workflows/n8n/kubeintel-research-digest.json
{
    "createdAt": "2026-07-20T22:09:51.351Z",
    "updatedAt": "2026-07-20T22:09:51.351Z",
    "id": "4lv47YE3Kz1KcYmO",
    "name": "kubeintel-research-digest",
    "active": false,
    "nodes": [
        {
            "parameters": {},
            "id": "1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://summarizer-svc:8000/summarize",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "CVE-2024-12345: Critical OpenSSL RCE"
                        },
                        {
                            "name": "content",
                            "value": "A critical buffer overflow vulnerability in OpenSSL 3.x allows remote code execution via a malformed TLS certificate chain. CVSS score 9.8. All versions prior to 3.2.1 are affected. Immediate patching recommended."
                        },
                        {
                            "name": "category",
                            "value": "vulnerability"
                        }
                    ]
                }
            },
            "id": "2",
            "name": "Call Summarizer API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO research_digests (title, source_url, category, summary, risk_level) VALUES ('{{ $json.title }}', '', '{{ $json.category }}', '{{ $json.summary }}', '{{ $json.risk_level }}')",
                "options": {}
            },
            "id": "3",
            "name": "Store in PostgreSQL",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Call Summarizer API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Summarizer API": {
            "main": [
                [
                    {
                        "node": "Store in PostgreSQL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "1717ba14-d593-469e-b71d-586c09957264",
    "triggerCount": 0,
    "shared": [
        {
            "createdAt": "2026-07-20T22:09:51.351Z",
            "updatedAt": "2026-07-20T22:09:51.351Z",
            "role": "workflow:owner",
            "workflowId": "4lv47YE3Kz1KcYmO",
            "projectId": "EZ19NpANJU2qDdoI",
            "project": {
                "createdAt": "2026-07-20T21:13:37.803Z",
                "updatedAt": "2026-07-20T21:42:47.126Z",
                "id": "EZ19NpANJU2qDdoI",
                "name": "Simranjeet Kaur <kaur458simranjeet@gmail.com>",
                "type": "personal",
                "projectRelations": [
                    {
                        "createdAt": "2026-07-20T21:13:37.803Z",
                        "updatedAt": "2026-07-20T21:13:37.803Z",
                        "role": "project:personalOwner",
                        "userId": "8a0b56dd-c7c9-44d2-b5f8-3a1c2e17d073",
                        "projectId": "EZ19NpANJU2qDdoI",
                        "user": {
                            "createdAt": "2026-07-20T21:13:36.528Z",
                            "updatedAt": "2026-07-20T21:42:47.040Z",
                            "id": "8a0b56dd-c7c9-44d2-b5f8-3a1c2e17d073",
                            "email": "kaur458simranjeet@gmail.com",
                            "firstName": "Simranjeet",
                            "lastName": "Kaur",
                            "personalizationAnswers": null,
                            "settings": {
                                "userActivated": false
                            },
                            "role": "global:owner",
                            "disabled": false,
                            "mfaEnabled": false,
                            "isPending": false,
                            "isOwner": true
                        }
                    }
                ]
            }
        }
    ],
    "tags": []
}
